body {
    font-family: 'Arial', sans-serif;
}

.proyecto3 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 20px;
    position: absolute;
     top:50%;
     left:50%;
    transform:translate(-50%, -50%);
}

h1 {
    font-size: 21px;
}

.description {
    margin-left: 30px;
}


/* JUEGO */

#container {
    width: 400px;
    height: 400px;
    cursor: pointer;
    margin: 0 auto;
}

#container .cell {
    float: left;
    background: #ecf0f1;
    outline: 1px solid #fff;
    cursor: pointer;
}

#container .cell.no-border {
    outline: none;
}

.actions {
    width: 400px;
    margin: 10px auto;
}

.btn {
    font-size: 30px;
    color: #2c3e50;
    border: 1px solid #2c3e50;
    background: #ffffff;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    float: left;
    margin: 0 6px;
    cursor: pointer;
}

.btn:hover {
    background: #3498db;
    color: #ffffff;
    border-color: #3498db;
}

.acciones__botones {
    width: 180px;
    float: left;
}

#color-pick {
    height: auto;
    width: 220px;
    float: left;
    border-radius: 5px;
}

#color-pick>div {
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 24px;
    margin: 2px;
    border: 1px solid #f1f1f1;
}

#color-pick>div.select {
    border: 1px solid #000;
    border-radius: 10%;
}

.grilla {
    border: 1px solid #2c3e50;
    border-radius: 5px;
    overflow: auto;
    padding: 0 14px;
    margin-bottom: 10px;
}

.grilla p {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    float: left;
}

.grilla input {
    float: left;
    width: 70px;
    height: 20px;
    border: 0;
    border-bottom: 1px solid #3498db;
    margin-left: 5px;
}

.grilla .btn {
    border: 0;
    width: 16px;
    height: 16px;
    font-size: 24px;
    float: right;
}

.grilla .btn:hover {
    background: #ffffff;
    color: #3498db;
}

.left {
    float: left;
}

.right {
    float: right;
}